.checkincard-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 9px;
  margin-top: 40px;
  position: relative;
}

.checkincard-header {
  display: flex;
  justify-content: space-between;
}

.checkincard-profile-pic {
  height: 80px;
  width: 80px;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

.checkincard-title-container {
  width: 640px;
  max-height: 80px;
}

.checkincard-title {
  font-size: 20px;
}

.checkincard-user-name {
  color: #DC8C66;
}

.checkincard-drink-pic {
  height: 80px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid #63636383;
  border-radius: 3px;
}

.checkincard-rating {
  font-size: 20px;
  margin-top: 20px;
}

.delete-checkin-button {
  font-size: 13px;
  color: blue;
  position: absolute;
  bottom: 8px;
  right: 8px;

}

.delete-checkin-button:hover {
  cursor: pointer;
}

.checkincard-comment-container {
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  border: 2px solid #63636383;
  min-height: 100px;
  padding: 10px;
}

.checkincard-comment {
  font-size: 18px;
}

.checkincard-time {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.drink-icon {
  position: absolute;
  top: 105px;
  right: 16px;
}

.wine-sizing {
  font-size: 30px;
}

.can-img {
  width: 30px;
  display: inline;
}

.hidden {
  display: none;
}
