.checkincard-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1.25em;
  background-color: white;
  border-radius: 9px;
  margin-top: 2.5em;
  position: relative;
}

.checkincard-header {
  display: flex;
  height: fit-content;
}

.checkincard-profile-pic {
  height: 5rem;
  min-width: 5rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 40px;
}

.checkincard-title-container {
  width: 40rem;
  height: fit-content;
  margin-right: 40px;
}

.checkincard-title {
  font-size: 1.25em;
  width: fit-content;
}

.inline-block {
  display: inline-block;
}

.checkincard-user-name, #user-profile-link {
  color: #DC8C66;
}

.checkincard-drink-pic {
  height: 80px;
  min-width: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid #63636383;
  border-radius: 3px;
}

.checkincard-rating {
  font-size: 1.25em;
  margin-top: 1.25em;
  display: inline-block;
}

.edit-checkin-button {
  font-size: 0.813em;
  color: blue;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.delete-checkin-button {
  font-size: 0.875em;
  color: red;
  background-color: rgba(255, 0, 0, 0.171);
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  border: 1px solid;
  padding: 0.188em 0.313em;
  border-radius: 3px;
}

.edit-checkin-button:hover,
.edit-submit:hover {
  cursor: pointer;
}

.delete-checkin-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.checkincard-comment-container {
  width: 600px;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 1.875em;
  border: 2px solid #63636383;
  min-height: 6.25rem;
  padding: 0.625em;
  position: relative;
}

.checkincard-comment {
  font-size: 1.125em;
}

.checkincard-time {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  font-size: 0.875em;
}

.checkincard-updated-time {
  position: absolute;
  bottom: 2.188rem;
  right: 9.375rem;
  font-size: 0.813em;
  font-weight: lighter;
  /* font-family: 'Fira Sans', sans-serif; */
  color: rgb(138, 138, 138);
}

.drink-icon {
  position: absolute;
  top: 6.563rem;
  right: 1rem;
}

.wine-sizing {
  font-size: 1.875em;
}

.can-img {
  width: 1.875rem;
  display: inline;
}

.hidden {
  display: none;
}

/* Edit field */

.edit-drinks, .edit-rating {
  margin-left: 0.938em;
}

.edit-comment-textarea {
  position: relative;
}

.edit-checkin-cancel-button {
  font-size: 0.813em;
  color: blue;
  position: absolute;
  top: -13px;
  left: 110px;
}

.edit-comment-field {
  width: 40.625rem;
  margin: 1.875em 0;
  margin-left: 6.875em;
  border: 2px solid #0f0f0f83;
  min-height: 5rem;
  padding: 0.625em;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
  resize: none;
}

.edit-submit {
  font-size: 0.813em;
  color: blue;
  position: absolute;
  top: -13px;
  left: 175px;
}

.edit-serving-style-label {
  margin-left: 5.8em;
  font-size: 1.125em;
}

.serving-style {
  margin-top: 1.25em;
}

@media (max-width: 900px) {
  .checkincard-header {
    justify-content: flex-start;
  }

  .checkincard-profile-pic {
    margin-right: 20px;
  }

  .checkincard-title-container {
    margin-right: 20px;
  }
}

@media(max-width: 740px) {
  .checkincard-container {
    border-radius: 0px;
    height: fit-content;
  }

  .checkincard-comment-container {
    width: 100%;
  }
}
