.checkincard-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 9px;
  margin-top: 40px;
  position: relative;
}

.checkincard-header {
  display: flex;
  justify-content: space-between;
}

.checkincard-profile-pic {
  height: 80px;
  width: 80px;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

.checkincard-title-container {
  width: 640px;
  max-height: 80px;
}

.checkincard-title {
  font-size: 20px;
  width: fit-content;
}

.inline-block {
  display: inline-block;
}

.checkincard-user-name {
  color: #DC8C66;
}

.checkincard-drink-pic {
  height: 80px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid #63636383;
  border-radius: 3px;
}

.checkincard-rating {
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
}

.edit-checkin-button {
  font-size: 13px;
  color: blue;
  position: absolute;
  bottom: 35px;
  left: 150px;
}

.delete-checkin-button {
  font-size: 14px;
  color: red;
  background-color: rgba(255, 0, 0, 0.171);
  position: absolute;
  bottom: 8px;
  right: 8px;
  border: 1px solid;
  padding: 3px 5px;
  border-radius: 3px;
}

.edit-checkin-button:hover,
.edit-submit:hover {
  cursor: pointer;
}

.delete-checkin-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.checkincard-comment-container {
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid #63636383;
  min-height: 100px;
  padding: 10px;
}

.checkincard-comment {
  font-size: 18px;
}

.checkincard-time {
  position: absolute;
  bottom: 8px;
  left: 8px;
  font-size: 14px;
}

.drink-icon {
  position: absolute;
  top: 105px;
  right: 16px;
}

.wine-sizing {
  font-size: 30px;
}

.can-img {
  width: 30px;
  display: inline;
}

.hidden {
  display: none;
}

/* Edit field */

.edit-drinks, .edit-rating {
  margin-left: 15px;
}

.edit-comment-field {
  width: 650px;
  /* height: 120px; */
  margin: 30px 0;
  margin-left: 110px;
  border: 2px solid #0f0f0f83;
  min-height: 80px;
  padding: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
}

.edit-submit {
  font-size: 13px;
  color: blue;
  position: absolute;
  bottom: 34px;
  left: 225px;
}

.edit-serving-style-label {
  margin-left: 110px;
  font-size: 18px;
}

.serving-style {
  margin-top: 20px;
}
