.checkin-button {
  position: absolute;
  left: -2.5rem;
  top: 12.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.checkin-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 1100px) {
  .checkin-button {
    position: fixed;
    left: 15px;
    bottom: -100px;
  }
}
