.bartalk-body {
  background-image: url('https://cdn.discordapp.com/attachments/886336420552269847/887527644835487744/bar_background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  position: fixed;
  z-index: -1;
  filter: brightness(50%)
}

.bartalk-feed-container {
  width: 62.5rem;
  box-sizing: border-box;
  min-height: 91.2vh;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  margin-top: 5.625em;
  border-radius: 1px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 3.125em;
  position: relative;
}

.bartalk-divider {
  border: 2px solid rgb(88, 88, 88);
  width: 80%;
  background-color: rgb(88, 88, 88);
}

.sort-container {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.sort-selector {
  width: fit-content;
  height: fit-content;
  border: 1px solid;
  background-color: white;
  border-radius: 3px;
  font-size: 0.875em;
}

.sort-content-container {
  display: flex;
  flex-direction: column;
}

.filter-by-box {
  text-decoration: underline;
}

.filter-by-box:hover {
  cursor: pointer;
}

.filter-selector {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
}

.top-rated-drinks-container {
  height: fit-content;
  width: 18.75rem;
  background-color: #ECECEC;
  position: absolute;
  right: -23rem;
  top: 13.75rem;
  border-radius: 3px;
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
}

.top-rated-title {
  font-size: 1.125em;
  text-align: center;
  color: #353535;
  text-decoration: underline 3px rgb(182, 182, 182);
  text-underline-offset: 0.625em;
}

.mini-drink-container {
  margin-top: 1.875em;
}

.mini-drink-container:hover {
  cursor: default;
}

.top-rated-drink:hover {
  cursor: default;
}

#scroll-top {
  position: relative;
  bottom: 3.125em;
}

.bartalk-scroll {
  z-index: 2;
  background-color: rgb(206, 206, 206);
  border-radius: 50%;
  width: 2.813rem;
  height: 2.813rem;
  text-align: center;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  position: fixed;
  right: 23.75rem;
  bottom: 3rem;
}

.bartalk-scroll:hover {
  transform: scale(1.08);
}

@media (max-width: 1743px) {
  .top-rated-drinks-container {
    display: none;
  }
  .bartalk-scroll {
    right: 60px;
  }
}

@media (max-width: 1100px) {
  .bartalk-feed-container {
    position: initial;
  }

  .bartalk-scroll {
    right: 40px;
  }
}

@media (max-width: 1020px) {
  .bartalk-feed-container {
    width: 100vw;
  }
}

@media (max-width: 900px) {
  .bartalk-title {
    text-align: center;
  }
  .bartalk-divider {
    width: 100%;
  }
  .bartalk-scroll {
    right: 15px;
  }
}

@media (max-width: 740px) {
  .bartalk-feed-container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 700px) {
  .sort-container {
    flex-direction: column;
    margin-left: 20px;
  }

  .filter-container {
    margin-top: 20px;
    width: 300px;
  }
}
