.drinks-feed-container {
  width: 80%;
  box-sizing: border-box;
  min-height: 91.2vh;
  background-color: #ECECEC;
  margin: 0 auto;
  margin-top: 90px;
  border-radius: 1px;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

.drinks-title {
  color: #864323;
  margin: 30px auto 50px auto;
}

.drinks-divider {
  border: 2px solid rgb(182, 182, 182);
  width: 100%;
  background-color: rgb(182, 182, 182);
  margin-bottom: 30px;
}

.new-drink-card {
  height: 189px;
  width: 620px;
  border: 2px dashed #a1a1a1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  margin: 0 auto;
  margin-top: 20px;
  background-color: white;
  text-align: center;
}

.plus-icon {
  font-size: 200px;
  width: 100%;
  text-align: center;
  max-height: 232px;
  color:rgb(182, 182, 182);
}

.plus-icon:hover {
  color: rgb(133, 133, 133);
}

.new-drink-card:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
  transform: scale(1.02);
}

.top-rated-title {
  font-size: 18px;
  text-align: center;
  color: #353535;
  text-decoration: underline 3px rgb(182, 182, 182);
  text-underline-offset: 10px;
}

.mini-drink-container {
  margin-top: 30px;
}
