.drinks-body {
  background-image: url('https://cdn.discordapp.com/attachments/886336420552269847/888612947096637480/unknown.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: -1;
}

#drinks-top {
  position: relative;
  bottom: 3.125rem;
}


.drinks-feed-container {
  width: 80%;
  box-sizing: border-box;
  height: 85vh;
  background-color: #ECECEC;
  margin: 0 auto;
  margin-top: 6.25rem;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  padding: 3.125rem;
  overflow: auto;
}

.drinks-feed-container::-webkit-scrollbar {
  background-color: #d1d1d1;
  width: 1em;
}

.drinks-feed-container::-webkit-scrollbar-thumb {
  background-color: #DC8C66;
  border-radius: 20px;
}

.drinks-feed-container::-webkit-scrollbar-thumb:hover {
  background-color: #db6f3d;
}

.drinks-title {
  color: #864323;
  margin: 1.5em auto 2.5em auto;
  font-size: 2.5em;
}

.drinks-divider {
  border: 2px solid rgb(182, 182, 182);
  width: 100%;
  background-color: rgb(182, 182, 182);
  margin-bottom: 1.875rem;
}

.new-drink-card {
  height: 11.813rem;
  width: 38.75rem;
  border: 2px dashed #a1a1a1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 1.25rem;
  background-color: white;
  text-align: center;
}

.plus-icon {
  font-size: 12.5em;
  width: 100%;
  text-align: center;
  color:rgb(182, 182, 182);
}

.plus-icon:hover {
  color: rgb(133, 133, 133);
}

.new-drink-card:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
  transform: scale(1.02);
}


.github-logo {
  width: 1.875rem;
  height: 3.125rem;
  background-image: url('https://cdn.discordapp.com/attachments/886336420552269847/888538081119072326/GitHub-Mark-32px.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.linkedin-logo {
  width: 1.875rem;
  height: 3.125rem;
  background-image: url('https://cdn.discordapp.com/attachments/886336420552269847/888542913594806272/768px-LinkedIn_logo_initials.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.github-logo-text {
  margin-left: 0.313rem;
  font-size: 1.125rem;
}

.linkedin-link {
  margin-left: 1.125rem;
}
