.profile-body {
  background-image: url('https://cdn.discordapp.com/attachments/886336420552269847/888621264808316948/create-a-flat-and-minimalist-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background-attachment: fixed;
}

.profile-banner {
  height: 25rem;
  width: 50%;
  margin: 0 auto;
  margin-top: 6.25em;
  background-image: url('https://cdn.discordapp.com/attachments/886336420552269847/888168217116311573/mountains-1412683_1280.png');
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 4px 0 4px 3px rgba(0, 0, 0, 0.25);
}

.profile-header-container {
  position: absolute;
  bottom: 0.2rem;
  left: 0.2rem;
  display: flex;
}

.profile-picture {
  height: 7.5rem;
  width: 7.5rem;
  border: 4px solid white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: relative;
}


.profile-header-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 0.938em;
}

.profile-header-name {
  margin: 0;
  font-size: 1.375em;
  color: white;
}

.profile-header-username {
  color: white;
  font-weight: 100;
}

.profile-header {
  margin-bottom: 0.313em;
}

.profile-checkins {
  width: 50%;
  margin: 0 auto;
  padding: 1.875em;
  padding-top: 3.75em;
  display: flex;
  background-color: white;
  flex-direction: column;
  box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.25);
}

.activity-title {
  text-align: center;
}

.activity-title-divider {
  border: 2px solid rgb(201, 201, 201);
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1.875em;
}

.activity-divider {
  border: 2px solid rgb(201, 201, 201);
  width: 100%;
}

.scrollToTop {
  z-index: 2;
  background-color: rgb(206, 206, 206);
  border-radius: 50%;
  width: 2.813rem;
  height: 2.813rem;
  text-align: center;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  position: fixed;
  right: 23.75rem;
  bottom: 4.375rem;
}

.scrollToTop:hover {
  transform: scale(1.08);
}

.scroll-button-content {
  margin-top: 10px;
  color:rgb(83, 83, 83);
  width: 1.563rem;
  height: 1.563rem;
}

/* New Profile Pic Section */
.new-photo-icon {
  color: rgb(77, 77, 77);
  position: absolute;
  bottom: -0.25rem;
  right: -0.25rem;
  border-radius: 50%;
  padding: 0.313em;
  background-color: rgb(197, 197, 197);
}

.new-photo-icon:hover {
  cursor: pointer;
  background-color: rgb(145, 145, 145);
  color: white;
}

.new-profile-pic-form {
  background-color: rgb(255, 255, 255);
  color: white;
  position: relative;
  top: 7.813rem;
  width: 13.875rem;
  font-size: 0.875em;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgb(177, 177, 177);
  display: flex;
  flex-direction: column;
  padding: 0.625em;
}

.new-profile-pic-close-icon {
  position: absolute;
  top: 0.313rem;
  right: 0.313rem;
}

.new-profile-pic-close-icon:hover {
  cursor: pointer;
}

.new-profile-pic-file-button {
  margin-top: 0.625em;
}

.new-profile-pic-file-label {
  color: black;
}

#profilePic {
  width: 13.125rem;
  border: none;
  position: relative;
  right: 1.25rem;
}

.new-profile-pic-button {
  border: 1px solid;
  border-radius: 3px;
  padding: 0.563em;
  width: 13.75rem;
  font-size: 0.938em;
  margin-top: 0.625em;
  margin-bottom: 0.625em;
}

.new-profile-pic-button:hover {
  cursor: pointer;
  transform: scale(1.01);
}
