.landing-background-image {
  background-image: -webkit-linear-gradient(right, rgb(0, 0, 0) 0%,rgba(255,255,255,0) 48%,rgb(2, 2, 2) 100%), url('https://cdn.discordapp.com/attachments/886336420552269847/886337747726516254/patrick-tomasso-GXXYkSwndP4-unsplash.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  filter: blur(5px);
}

.landing-darkener {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

.landing-page-login, #landing-signup {
  color: white;
  z-index: 1;
}

.landing-page-login {
  width: 7.5rem;
  height: 3rem;
  box-sizing: border-box;
  text-align: center;
  margin-right: 0.5em;
  margin-top: 1.25em;
  font-size: 1.125em;
  z-index: 1;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
}

.landing-page-login:hover {
  transform: scale(1.03);
  border: 1px solid white;

}

.landing-links-container {
  display: flex;
  justify-content: flex-end;
}


.landing-container {
  width: 7.5rem;
  height: 3rem;
  box-sizing: border-box;
  text-align: center;
  padding-top: 0.75em;
  margin-right: 0.5em;
  margin-top: 1.25em;
  font-size: 1.125em;
  z-index: 1;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
}

.landing-signup-container {
  background-color: #dc8c66;
  margin-right: 3.75em;
}

.landing-signup-container:hover {
  transform: scale(1.03);
}


.landing-container:hover {
  cursor: pointer;
}

#landing-signup:hover {
  text-decoration: none;
}

.landing-welcome-container {
  margin: 0 auto;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 60vh;
  position: relative;
  background-color: rgba(220, 139, 102, 0.699);
  z-index: 1;
  width: 37.5rem;
  height: 37.5rem;
  border: 3px solid rgb(216, 216, 216);
  border-radius: 7px;
}

.landing-logo{
  height: 5.875rem;
  width: 5rem;
  z-index: 1;
}

.landing-welcome-title {
  color: white;
  font-size: 5em;
  font-weight: 200;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  z-index: 1;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
}

.landing-divider {
  width: 15%;
  border: 7px solid;
  color: #F4A980;
  z-index: 1;
}

.landing-welcome-message {
  color: white;
  font-size: 1.5em;
  margin-top: 2.375em;
  z-index: 1;
}

.landing-welcome-signup {
  font-size: 1.375em;
  display: block;
  text-align: center;
  padding-top: .8em;
  
}

.landing-welcome-signup-container {
  border: 1px solid white;
  border-width: 2px;
  border-radius: 5px;
  width: 11.563rem;
  height: 4.063rem;
  margin-top: 3.125em;
  background-color: #dc8c66;
  z-index: 1;
}

.landing-welcome-signup-container:hover {
  cursor: pointer;
  transform: scale(1.03);
}


#landing-welcome-demo {
  color: #ffffff;
  margin-top: 1em;
}
