.component-body {
  overflow: hidden;
}

.landing-background-image {
  background-image: -webkit-linear-gradient(right, rgb(0, 0, 0) 0%,rgba(255,255,255,0) 48%,rgb(2, 2, 2) 100%), url('https://cdn.discordapp.com/attachments/886336420552269847/886337747726516254/patrick-tomasso-GXXYkSwndP4-unsplash.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  filter: blur(5px);
}

.landing-darkener {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

.landing-page-login, #landing-signup {
  color: white;
  z-index: 1;
}

.landing-page-login {
  width: 7.5rem;
  height: 3rem;
  box-sizing: border-box;
  text-align: center;
  margin-right: 0.5em;
  margin-top: 1.25em;
  font-size: 1.125em;
  z-index: 1;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
}

.landing-page-login:hover {
  transform: scale(1.03);
  border: 1px solid white;

}

.landing-links-container {
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  /* justify-content: center; */
  border: 1px solid red;
  padding-right: 30px;
}


.landing-container {
  width: 7.5rem;
  height: 3rem;
  box-sizing: border-box;
  text-align: center;
  padding-top: 0.75em;
  /* margin-right: 0.5em; */
  margin-top: 1.25em;
  font-size: 1.125em;
  z-index: 1;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
}

.landing-signup-container {
  background-color: #dc8c66;
}

.landing-signup-container:hover {
  transform: scale(1.03);
}


.landing-container:hover {
  cursor: pointer;
}

#landing-signup:hover {
  text-decoration: none;
}

.landing-welcome-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: fit-content;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(220, 139, 102, 0.699);
  z-index: 1;
  width: 37.5rem;
  border: 3px solid rgb(216, 216, 216);
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

@keyframes backgroundChange {
  0% {
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgba(216, 216, 216, 0);
  }
  100% {
    background-color: rgba(220, 139, 102, 0.699);
    border: 3px solid rgb(216, 216, 216);
  }
}

/* First stage of landing animation */

.arrive-right-1 {
  animation-name: arriveRight;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.arrive-left-1 {
  animation-name: arriveLeft;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.arrive-up-1 {
  animation-name: arriveUp;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

/* Second stage of landing animation */

.fadein-2 {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 2.2s;
  animation-fill-mode: backwards;
}

/* Third stage of landing animation */

.fadein-3 {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 3.9s;
  animation-fill-mode: backwards;
}

.background-3 { 
  animation-name: backgroundChange;
  animation-duration: 2s;
  animation-delay: 3.9s;
  animation-fill-mode: backwards;
}

.landing-logo{
  height: 5.875rem;
  width: 5rem;
  z-index: 1;
}

.landing-welcome-title {
  color: white;
  font-size: 5em;
  font-weight: 200;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  z-index: 1;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
}

.landing-divider {
  width: 15%;
  border: 7px solid;
  color: #F4A980;
  z-index: 1;
}

.landing-welcome-message {
  color: white;
  font-size: 1.5em;
  margin-top: 2.375em;
  z-index: 1;
}

.landing-welcome-signup {
  font-size: 1.375em;
  display: block;
  text-align: center;
  padding-top: .8em;
  
}

.landing-welcome-signup-container {
  border: 1px solid white;
  border-width: 2px;
  border-radius: 5px;
  width: 11.563rem;
  height: 4.063rem;
  margin-top: 3.125em;
  background-color: #dc8c66;
  z-index: 1;
}

.landing-welcome-signup-container:hover {
  cursor: pointer;
  transform: scale(1.03);
}


#landing-welcome-demo {
  color: #ffffff;
  margin-top: 1em;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 3.9s;
  animation-fill-mode: backwards;
}

#landing-welcome-demo-no-animation {
  color: #ffffff;
  margin-top: 1em;
}

/* Keyframe animations */
@keyframes fadeIn {
  0% {
    /* transform: translateX(120px); */
    opacity: 0;
  }
  100% {
    /* transform: translateX(0); */
    opacity: 1;
  }
}

@keyframes arriveLeft {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes arriveRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes arriveUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 925px) {
  .landing-links-container {
    justify-content: center;
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  .landing-welcome-container {
    width: 100vw;
    margin-top: 0;
  }

  .landing-welcome-title {
    font-size: 16vw;
  }

  .landing-welcome-message {
    text-align: center;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-height: 639px) {
  .landing-links-container {
    display: none;
  }

}
