.landing-background-image {
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(255,255,255,0) 48%,rgba(2,2,2,1) 100%), url('https://cdn.discordapp.com/attachments/886336420552269847/886337747726516254/patrick-tomasso-GXXYkSwndP4-unsplash.jpg');
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(255,255,255,0) 48%,rgba(2,2,2,1) 100%), url('https://cdn.discordapp.com/attachments/886336420552269847/886337747726516254/patrick-tomasso-GXXYkSwndP4-unsplash.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  filter: blur(5px);
}

.landing-welcome-contrast {
  width: 600px;
  height: 600px;
  background-color: rgba(220, 139, 102, 0.575);
  /* opacity: 0.3; */
  border: 3px solid rgb(216, 216, 216);
  z-index: 2;
  margin: 150px auto;
  border-radius: 7px;
}

.landing-darkener {
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

.landing-page-login, #landing-signup {
  color: white;
}

.landing-links-container {
  display: flex;
  justify-content: flex-end;
}

.landing-container {
  width: 120px;
  height: 48px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 12px;
  margin-right: 8px;
  margin-top: 20px;
  font-size: 18px;
  z-index: 1;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
}

.landing-signup-container {
  background-color: #dc8c66;
  margin-right: 60px;
}

.landing-signup-container:hover {
  transform: scale(1.03);
}

.landing-login-container:hover {
  transform: scale(1.03)
}

.landing-container:hover {
  cursor: pointer;
}

#landing-signup:hover {
  text-decoration: none;
}

.landing-welcome-container {
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 60vh;
}

.landing-logo{
  height: 94px;
  width: 80px;
  z-index: 1;
}

.landing-welcome-title {
  color: white;
  font-size: 80px;
  font-weight: 200;
  margin-bottom: 0;
  margin-top: 14px;
  z-index: 1;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
}

.landing-divider {
  width: 70px;
  border: 7px solid;
  color: #F4A980;
  z-index: 1;
}

.landing-welcome-message {
  color: white;
  font-size: 24px;
  margin-top: 80px;
  z-index: 1;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.landing-welcome-signup {
  font-size: 22px;
  display: block;
  text-align: center;
  padding-top: 16px;
  
}

.landing-welcome-signup-container {
  border: 1px solid white;
  border-width: 2px;
  border-radius: 5px;
  width: 185px;
  height: 65px;
  margin-top: 50px;
  background-color: #dc8c66;
  z-index: 1;
}

.landing-welcome-signup-container:hover {
  cursor: pointer;
  transform: scale(1.03);
}
