@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  /* font-family: 'Fira Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

a:not(.nav-container a) {
  color: blue;
}

a:not(.nav-container a) a:visited {
  color: blue;
}

input {
  border: 1px solid;
  padding-left: 20px;
}

div {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  background-color: #d1d1d1;
  width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: #DC8C66;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #db6f3d;
}
