.body-cover-image {
  background-image: url('https://cdn.discordapp.com/attachments/861029914253328404/885956040506605628/signup-background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.signup-form-container {
  width: 940px;
  height: 581px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-up-image {
  width: 523px;
  height: 100%;
  background-image: url('https://cdn.discordapp.com/attachments/392041428387233796/885957455597690920/sign-up_pic.jpg');
  background-size: cover;
  background-position: 25% 75%;
  border-radius: 3px;
}

.signup-form {
  width: 417px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.errors-container {
  border: 1px solid;
  list-style-type: none;
  position: absolute;
  top: 5px;
  background-color: rgb(255, 200, 200);
  padding: 5px 10px;
  border: red;
}

.errors-container > li {
  list-style-type: none;
  font-size: 14px;
  color: rgba(255, 0, 0, 0.712);
}

.signup-title {
  font-size: 32px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.signup-input-field {
  background: #FFFFFF;
  border: 1px solid #9D9D9D;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 10px;
  width: 15.125rem;
  margin-top: 10px;
}

.signup-button {
  background-color: #DC8C66;
  border-radius: 5px;
  outline: 0;
  color: white;
  font-size: 20px;
  margin: 10px 0 10px 0;
  padding: 10px 20px;
}

.signup-button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.signup-bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.login-question {
  font-size: 12px;
}

.signup-login {
  color: blue;
}

.signup-login:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.signup-home-link {
  font-size: 12px;
}

@media (max-width: 940px) {
  .body-cover-image {
    background-size: auto;
    margin: 0;
  }

  .sign-up-image {
    display: none;
  }

  .signup-form-container {
    width: fit-content;
  }
}

@media (max-width: 420px) {
  .signup-form-container {
    width: 100vw;
    height: fit-content;
    padding-bottom: 20px;
  }

  .signup-input-field {
    width: 80%;
  }
}

@media (max-height: 582px) {
  .signup-form-container {
    height: 100vh;
  }

  .signup-title {
    margin-top: 5px;
  }
}
