.blur {
  filter: blur(5px);
  transform: scale();
}

.login-container {
  width: 560px;
  height: 80vh;
  margin: 0 auto;
  background: #F4A980;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.close-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  font-weight: bold;
  font-size: 20px;
}

#close-login-icon-color {
  color: rgb(136, 136, 136);
}

.close-icon:hover {
  cursor: pointer;
}

.login-title-barhoppr {
  font-style: normal;
  font-weight: bolder;
  font-size: 50px;
  line-height: 77px;
  color: #864323;
  margin-top: 40px;
}

.login-line-divider {
  width: 500px;
  border: 1px solid #864323;
}

.logo-login {
  margin: 20px 0;
  height: 85px;
}

.login-title-login {
  font-size: 38px;
  color: #716364;
}

.signup-question {
  font-size: 14px;
  margin-top: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 250px;
}

.login-input-field {
  background: #FFFFFF;
  border: 1px solid #9D9D9D;
  box-sizing: border-box;
  border-radius: 7px;
  height: 38px;
  width: 15.125rem;
  margin-top: 30px;
}

.login-button {
  background-color: #716364;
  border-radius: 5px;
  width: 155px;
  height: 48px;
  outline: 0;
  color: white;
  font-size: 20px;
  margin-top: 40px;
}

.login-button:hover {
  cursor: pointer;
  transform: scale(1.03)
}

.modal-button {
  color: blue;
}

.hover-pointer:hover {
  cursor: pointer;
}

#demo-user-link {
  color: #864323;
  font-weight: bold;
}
